[Desktop Entry]
Name=Youtube Downloader
GenericName=youtube-dl GUI simplify
Comment=Download youtube videos 
Icon=yd
Exec=youtube-downloader
Terminal=false
Type=Application
StartupNotify=false
Categories=Multimedia;AudioVideo;Qt
